<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="myForm">
  <div class="row g-3 aling-items-center mb-3">

    <div class="col-auto">
      <label>Nombre: </label>
    </div>

    <div class="col-auto">
      <input type="text" class="form-control" formControlName="name" >
    </div>

    <div class="col-auto">
      <!-- Contiene mi directiva personalizada llamada customLabel -->
      <span customLabel > Temporal </span>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="changeColor()">
        Cambiar Color
      </button>
    </div>
  </div>

</form>

<pre class="mt-5">
  {{ myForm.get('name')?.errors | json }}
</pre>

<p>Color: {{ color }}</p>
