<h1>Mutaciones</h1>
<hr>

<div class="row">
  <div class="col-6">

    <input
    #txtEmail
     type="text"
     class="form-control mb-4"
     (input)="onFieldUpdates('email', txtEmail.value)"
     [value]="user().email">

     <input
     #txtFirstName
      type="text"
      class="form-control mb-4"
      (input)="onFieldUpdates('first_name', txtFirstName.value)"
      [value]="user().first_name">

      <input
      #txtLastName
      type="text"
      class="form-control mb-4"
      (input)="onFieldUpdates('last_name', txtLastName.value)"
      [value]="user().last_name">

  </div>

  <div class="col-6">
    <!-- Informacion de usuarios -->
    <pre>
      {{user() | json }}
    </pre>
    {{fullName() }}

    <button (click)="increaseBy(+1)" class="btn btn-success">
      +1
    </button>
  </div>
</div>
